body {
  color: #073642;
}
.reset     {color: inherit;}
.bg-reset  {background-color: white;}
.black     {color: inherit;}
.red       {color: #dc322f;}
.green     {color: #859900;}
.yellow    {color: #b58900 ;}
.blue      {color: #268bd2;}
.purple    {color: #6c71c4;}
.cyan      {color: #2aa198;}
.white     {color: #668934;}

.bg-black  {background-color: black;}
.bg-red    {background-color: red;}
.bg-green  {background-color: green;}
.bg-yellow {background-color: olive;}
.bg-blue   {background-color: blue;}
.bg-purple {background-color: purple;}
.bg-cyan   {background-color: teal;}
.bg-white  {background-color: gray;}
.underline {text-decoration: underline;}
.bold      {font-weight: bold;}
.blink     {text-decoration: blink;}
